__pycache__/
*.pyc
.env
.DS_Store
.venv/
env/
DOSSIER_EXPLICATIF_ET_ORGANIGRAMME.md
DEPLOYMENT_GOOGLE_CLOUD.md
GUIDE_SOUMISSION_DEVPOST_ET_SCRIPT_VIDEO.md
*.txt
!requirements.txt
*key*
*keys*
RECAP_SOUMISSION_ET_POINTS_BONUS.md
terminal*

